

.title {
  text-align: center;
  color: rgb(0, 0, 0);
}


.input {
  text-align: center;
}



.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 padding: 0px;
}

.photo-card {
width: 400px;
 margin: 15px;
  border-radius: 5px;
  overflow: hidden;
}



.stats {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
width: 150px;
font-weight: 700;
  background-color: #ffdf05;
}

.btn.is-hidden {
  display: none;
}
